.container {
  gap: 10px;
  display: grid;
  grid-template-columns: repeat(9,1fr);
  grid-template-rows: repeat(2,1fr);
  margin-top: 10px;
  margin-bottom: 30px;

}

.button {
  width: 100%;
  justify-content: center;
  border: none;
  border-radius: 5px;
  padding: 5px;
}

.types-heading{
  font-size: 40px;
}

.fire {
  background-color: red;
  color: white;
}

.grass {
  background-color: green;
  color: white;
}

.water {
  background-color: blue;
  color: white;
}

.flying {
  background-color: rgba(72, 72, 185, 0.94);
  color: white;
}

.normal {
  background-color: rgba(183, 161, 133, 0.971);
}

.poison {
  background-color: purple;
  color: white;
}

.rock {
  background-color: rgb(171, 84, 13);
}

.bug {
  background-color: #9fb036;
}

.ghost {
  background-color: rgba(42, 5, 84, 0.882);
  color: white;
}

.fighting {
  background-color: rgb(192, 47, 39);
}

.ground {
  background-color: sandybrown;
}

.psychic {
  background-color: hotpink;
}

.ice {
  background-color: lightblue;
}

.electric {
  background-color: yellow;
}

.dragon {
  background-color: rgb(97, 23, 167);
  color: white;
}

.dark {
  background-color: rgb(57, 35, 35);
  color: white;
}

.fairy {
  background-color: rgb(184, 112, 124);
}

.steel {
  background-color: rgb(72, 68, 68);
  color: white;
}

.fire-font {
  color: red;
}

.grass-font {
  color: green;
}

.water-font {
  color: blue;
}

.flying-font {
  color: rgba(72, 72, 185, 0.94);
}

.normal-font {
 color: rgba(183, 161, 133, 0.971);
}

.poison-font {
  color: purple;
}

.rock-font {
  color: rgb(171, 84, 13);
}

.bug-font {
  color: #9fb036;
}

.ghost-font {
  color: rgba(42, 5, 84, 0.882);
}

.fighting-font {
  color: rgb(192, 47, 39);
}

.ground-font {
  color: sandybrown;
}

.psychic-font {
  color: hotpink;
}

.ice-font {
  color: lightblue;
}

.electric-font {
  color: yellow;
}

.dragon-font {
  color: rgb(97, 23, 167);
}

.dark-font {
  color: rgb(57, 35, 35);
}

.fairy-font {
  color: rgb(184, 112, 124);
}

.steel-font {
  color: rgb(72, 68, 68);
}