.stats-bar {
  display: flex;
  align-items: center;
  width: 100%;
}

.stats-bar-heading {
  font-size: 20px;
  width: 30%;
}

.bar-container {
  height: 30px;
  background-color: #8989897c;
  border-radius: 100px;
  display: flex;
  width: 70%;
}

.blue-bar {
  display: flex;
  height: 100%;
  background-color: blue;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: flex-start;
  border-bottom-left-radius: 100px;
  border-top-left-radius: 100px;
}
